body {
  font-family: ubuntu;
  background-color: #de993a;
  border-radius: calc(100% - 50px);
  margin: 100px 50px;
}

.chItem {
  font-size: 88.9583333333%;
}

.mainBorderOfTheWholeThing {
  border: 10px solid #8a5f24;
  position: absolute;
  height: calc(100% - 60px);
  width: calc(100% - 10px);
}
